<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangan.mall.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.shangan.mall.entity.User">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="introduce_sign" jdbcType="VARCHAR" property="introduceSign"/>
        <result column="locked_flag" jdbcType="TINYINT" property="lockedFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, nick_name, login_name, password_md5, introduce_sign, is_deleted,
    locked_flag, create_time
    </sql>

    <sql id="Control_Column_List">
        user_id, nick_name, login_name, introduce_sign, locked_flag, create_time
    </sql>

    <update id="updateByPrimaryKeySelective" parameterType="com.shangan.mall.entity.User">
        update user
        <set>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="passwordMd5 != null">
                password_md5 = #{passwordMd5,jdbcType=VARCHAR},
            </if>
            <if test="introduceSign != null">
                introduce_sign = #{introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="lockedFlag != null">
                locked_flag = #{lockedFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>

    <select id="getUsersTotalNum" parameterType="Map" resultType="int" >
        select COUNT(*) from user
        <where>
            <if test="query!=null and query!=''">
                and (nick_name like CONCAT('%',#{query},'%') or login_name like CONCAT('%',#{query},'%'))
            </if>
            and is_deleted = 0
        </where>
    </select>

    <select id="selectAllUsers" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Control_Column_List"></include>
        from user
        <where>
            <if test="query!=null and query!=''">
                and (nick_name like CONCAT('%',#{query},'%') or login_name like CONCAT('%',#{query},'%'))
            </if>
            and is_deleted = 0
        </where>
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <update id="updateUserStatus" >
        update user
        <set>
            <if test="lockedFlag != null">
                locked_flag = #{lockedFlag,jdbcType=TINYINT}
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>

    <select id="selectUserById" parameterType="java.lang.Long" resultType="com.shangan.mall.entity.User">
        select
        <include refid="Control_Column_List"></include>
        from user
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <insert id="insertUserSelective" parameterType="com.shangan.mall.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="passwordMd5 != null">
                password_md5,
            </if>
            <if test="introduceSign != null">
                introduce_sign,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="lockedFlag != null">
                locked_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="passwordMd5 != null">
                #{passwordMd5,jdbcType=VARCHAR},
            </if>
            <if test="introduceSign != null">
                #{introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="lockedFlag != null">
                #{lockedFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>
